* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:linear-gradient(to right, #cac9c9, #21669e);
    margin-top: 8rem;
}

header{
    display: flex;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;

}

.container {
    max-width: 960px; 
    width: 100%; 
    margin: 0 auto; 

}

form {
    display: flex;
    max-width: 650px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px; 
}

form input {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #ffff;
    padding: 8px 20px;
    border: none;
    border-radius: 15px;
    border-bottom: 1px solid #000;
    
}



input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}


form button {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #f8f7ff;
    border: none;
    padding: 10px;
    border-radius: 15px;
    border-bottom: 2px solid #000;
    cursor: pointer;


}

table {
    width: 50%;

}

table th {
    border-bottom: 2px solid #000;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;

}

table td {
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Inconsolata', monospace;

}
